<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CafeteriaService.Properties.Settings.CafeteriaConnectionString"
            connectionString="Data Source=PTKDRAKE-PC;Initial Catalog=Cafeteria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>